.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  background: url("my-app/Assets/library.jpg") ;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(75, 74, 74);
}

.App-link {
  color: #20b42c;
}

